@model Fiap06.Web.MVC.Models.Cidade

@{
    ViewBag.Title = "Editar";
}

<h2>Atualização de Cidade</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(c => c.CidadeId)
    <div class="form-group">
        @Html.LabelFor(c => c.Nome)
        @Html.TextBoxFor(c => c.Nome, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.DataFundacao)
        @Html.TextBoxFor(c => c.DataFundacao, "{0:dd/MM/yyyy}",
            new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.EstadoId)
        @Html.DropDownListFor(c => c.EstadoId, ViewBag.estados as SelectList,
            new { @class = "form-control"})
    </div>
    <input type="submit" value="Atualizar" class="btn btn-primary" />
}

